

.home {


.foto1 {
    background-color: black;
    

img {  
    width: 100%;
}}
.fotot{
    padding-top: 2cm;
    background-color: black;
padding-bottom: 2cm;


}}
.fotot img{
    display: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 4.5cm;
}
.border{
    padding-bottom: 2cm;
}
.lajmet h1 {
margin-top: 1cm;
margin-left:43% ;
margin-bottom: 30px;
}
.lajmett {
    display: flex;

 
 
    width: 80%;
    margin: 0 auto;
        

    padding-bottom: cm;
}
.artikulli1 img{

}
.lajmett img {
   
    width: 100%;
    
}
.lajmet1{
    border:40px solid white;
}
.lajmet2{
    border: 40px solid white;
}
.lajmet3{
    border: 40px solid white;
}