
.foto1 {
    background-color: black;
}
.foto1 img {
    width: 100%;
}
.fotot{
    background-color: black;

}
.fotot img{
    display: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 4.5cm;
}
.lajmet {

    display: flex;
    justify-content: center;
    align-items: center;
}
