
.foto1 {
    background-color: black;
}
.foto1 img {
    width: 100%;
}
.fotot{
    background-color: black;

}
.fotot img{
    display: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 4.5cm;
}
.border{
    
}
.lajmet h1 {
margin-top: 1cm;
margin-left:44% ;
margin-bottom: 30px;
}
.lajmett {
        display: flex;
        display: column;
        justify-content: center;
        align-items: center;
        margin-left: 4.5cm;
        border: 2px solid red;
    width: 80%;
}
.lajmett img {
    border: 2px solid red;
    width: 100%;
    
}
.lajmet1{
    border: 5px solid rgb(8, 0, 255);

}
.lajmet2{
    border: 5px solid rgb(8, 0, 255);
}
.lajmet3{
    border: 5px solid rgb(8, 0, 255);
}
