.line{
    border: 2px solid rgb(255, 255, 255);
}
.foto11 img {
    width: 100%;
}
.text{
    display: flex;
    justify-content: center;
    padding-top: 0.4cm;
    padding-bottom: 1cm;
    background-color: black;
}
.text h1{
    color: white;
}
.text1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.4cm;
    padding-bottom: 1cm;

}
.text2{
display:block;
    justify-content: center;
    text-align: center;
    margin-bottom: 2cm;
}
