$bardh: #ffffff;
$black: #000000;
$gray3: #adadad;
$gray4: #3c3c3c;
$gray5: #242526;
$gray6: #201f1f;
$orange: #f4b61c;
$red: #ff0000;
$mainGreen: #228176;
$green1: #1eff00;
$light: #e5e5e5;
$placeholder: #cfcfcf;
$headerBg: #1f1f1f;
$background: #1b1b1b;
$blue1: #0096ff;
$blue2: #0000ff;